@model IEnumerable<TMS.VMs.RPTLedgerVM>

@{
    ViewData["Title"] = "Receiveables";
    Layout = "_LayoutPrint";
    int sr = 0;
}

<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">@ViewData["Title"]</h4>
    </div>
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <h5 class="text-right">@ViewBag.DateRange</h5>
    </div>
    <div class="col-md-12">
        <table id="myTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center" style="width: 8.33%">Sr</th>
                    <th style="width: 75%">Account</th>
                    <th class="text-center" style="width: 16.66%">Balance</th>
                </tr>
            </thead>
            <tbody id="tBody">
                @if (Model.FirstOrDefault() == null)
                {
                    <tr>
                        <th colspan="3" class="text-center">No data found</th>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        sr += 1;
                        <tr>
                            <td class="text-center">@sr</td>
                            <td>@item.Account</td>
                            <td class="text-center">@(string.Format("{0:n0}", item.Debit))</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot id="tFoot">
                @if (Model.FirstOrDefault() != null)
                {
                    <tr>
                        <th colspan="2"></th>
                        <th class="text-center">@(string.Format("{0:n0}", Model.Sum(a => a.Debit)))</th>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        var error = '@ViewBag.Error';
        $('document').ready(function () {
            if (error != null || error != '') {
                DisplayError(error);
            }
        })
    </script>
}